@model IEnumerable<SchoolMangement2.Models.NewCourse>

@{
    ViewData["Title"] = "Index";
}

<h2>New Course</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="col-md">
    <form class="d-flex" asp-action="Index" asp-controller="NewCourses">
        <input name="SerchStr" class="form-control me-1" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <br />

    <table class="table table-responsive-xl">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentId)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.StudentId)
                    </td>
                    <td style="display: flex; gap: 3px;">
                        @Html.ActionLink("Edit", "Edit" /*new { id = item.Id }*/)|
                        @Html.ActionLink("Details", "Details" /*new { id = item.Id }*/)|
                        @Html.ActionLink("Delete", "Delete"/* new { id = item.Id }*/)|
                        <!--a href="https://chat.openai.com/">Use If Any Doubt</a-->
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <footer>
        <div>

            @{
                DateTime tt = DateTime.Now;

                if (tt.Hour >= 12 && tt.Hour <= 16)
                {
                    <strong style="color: mediumvioletred; font-size: 20px">Good Afternoon</strong>
                }
            }
        </div>
    </footer>
</div>
