@model IEnumerable<SchoolMangement2.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Student</h1>

<p>
    <a asp-action="Create">Add Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
           
            <td>
                <a asp-action="Edit"  class="btn btn-light"asp-route-id="@item.StudentId">Edit</a> |
                    <a asp-action="Details" class="btn btn-darklight" asp-route-id="@item.StudentId">Details</a> |
                    <a asp-action="Delete" class="btn btn-light" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
